# Node / Tailwind
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind Output (optional)
ecommerce-parent/ecommerce-web/src/main/webapp/assets/css/tailwind.css

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IDEs
# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env Files
.env
.env.*
